# Ignored paths and directories

## pycharm project path
.idea

## temporal __pycache__/
**/__pycache__/

## .ipynb_checkpoints/
**/.ipynb_checkpoints

## ignores vim temporal files
**/*.swp

## ignore big files
**/*.npy
**/saved_model
**/pathmnist.npz
#**/pathmnist.npz > ##197MB

## ignore other paths
**/Medical-MNIST-Classification



